<div class="container-fluid p-0">
  <div class="row">
    <div class="col col-md-3 col-auto me-auto">
      <h1 class="h3 mb-3">Orders</h1>
    </div>

  </div>
  <div class="card">
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Date/Time of creation</th>
              <th>Status</th>
              <th>Name</th>
              <th>Address</th>
              <th>Number</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <td><%= order.id %></td>
                  <td><%= order.formatted_created_at %></td>
                  <td>Status</td>
                  <td><%= order.user_name %></td>
                  <td><%= order.user_address %></td>
                  <td><%= order.user_number %></td>
                  <td><%= link_to 'Show Order', order_path(order)%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%#= render "admin_panel/partials/pagy", pagy: @pagy %>
</div>