<h1>Orders:</h1>

<% @orders.each do |order| %>
  <time> <%= order.formatted_created_at %> </time>

  <h2>Customer information: </h2>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
    </thead>

  <tbody>
    <tr>
      <td><%= order.user_name %></td>
      <td><%= order.user_address %></td>
      <td><%= order.user_number %></td>
    </tr>
  </tbody>
  </table>

  <h2>Products: </h2>
  <table>
    <thead>
    <tr>
      <th>title</th>
      <th>price</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <% order.products.each do |p| %>
      <tbody>
      <tr>
          <td><%= p.title %></td>
          <td><%= p.price %> $</td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <p>Total price: <%= order.total_price %> $</p>
<% end %>
